<div class="header">
    <div class="brand">
        <a href="/">Logo</a>
        <p class="subhead">
            welcome to our website
        </p>
    </div>
    <div class="nav">
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/about">About</a></li>
            <li><a href="/blogs/create">Add New</a></li>
        </ul>
    </div>
</div>