<!DOCTYPE html>
<html lang="en">
    <%- include('./partials/head') %>
<body>
    <div class="container">
       <%- include('./partials/header') %>
        <div class="content">
            <h2 style="text-align: center;">About Us</h1>
            <p style="justify-content: flex-start;">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Deserunt veniam corrupti similique quis vel ab temporibus, consequuntur officiis provident! Ipsum asperiores officiis alias non modi obcaecati, sequi placeat aut cum.</p>
            <p style="justify-content: flex-start;">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Deserunt veniam corrupti similique quis vel ab temporibus, consequuntur officiis provident! Ipsum asperiores officiis alias non modi obcaecati, sequi placeat aut cum.</p>
            <p style="justify-content: flex-start;">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Deserunt veniam corrupti similique quis vel ab temporibus, consequuntur officiis provident! Ipsum asperiores officiis alias non modi obcaecati, sequi placeat aut cum.</p>
            <p style="justify-content: flex-start;">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Deserunt veniam corrupti similique quis vel ab temporibus, consequuntur officiis provident! Ipsum asperiores officiis alias non modi obcaecati, sequi placeat aut cum.</p>
            <p style="justify-content: flex-start;">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Deserunt veniam corrupti similique quis vel ab temporibus, consequuntur officiis provident! Ipsum asperiores officiis alias non modi obcaecati, sequi placeat aut cum.</p>
            <p style="justify-content: flex-start;">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Deserunt veniam corrupti similique quis vel ab temporibus, consequuntur officiis provident! Ipsum asperiores officiis alias non modi obcaecati, sequi placeat aut cum.</p>
            <p style="justify-content: flex-start;">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Deserunt veniam corrupti similique quis vel ab temporibus, consequuntur officiis provident! Ipsum asperiores officiis alias non modi obcaecati, sequi placeat aut cum.</p>
            <p style="justify-content: flex-start;">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Deserunt veniam corrupti similique quis vel ab temporibus, consequuntur officiis provident! Ipsum asperiores officiis alias non modi obcaecati, sequi placeat aut cum.</p>
            <p style="justify-content: flex-start;">Lorem ipsum dolor sit amet consectetur, sequi placeat aut cum.</p>
        </div>
       <%- include('./partials/footer') %>
    </div>

   
</body>
</html>